.btn {
  @apply .px-6 .py-3 .rounded .text-xs;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

  &-primary {
    background-image: linear-gradient(to bottom right, rgba(#29ffc6, .9), config('colors.green'));
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    color: config('colors.blue-lightest');
    transition: box-shadow 300ms ease, transform 300ms ease;

    &:hover {
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
  }
}

@screen md {
  .btn {
    @apply .text-sm .px-6 .py-4;
  }
}
