.btn {
  @apply .px-6 .py-3 .rounded .text-xs;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

  &-primary {
    background-image: linear-gradient(to bottom right, config('colors.blue-dark'), config('colors.blue-light'));
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    color: config('colors.blue-lightest');
  }
}

@screen md {
  .btn {
    @apply .text-sm .px-6 .py-4;
  }
}
